fieldset {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

#filterBox .filter-group {
    margin-bottom: 5px;
}

#filterBox .filter-label {
    width: 25%;
    text-align: right;
}

.card:hover {
    transform: scale(2);
    transition: transform .2s;
    z-index: 1000;
    position: relative;
}

#filterBox input[type="text"],
#filterBox input[type="number"],
#filterBox select {
    width: 70%;
}

#checkbox-filter-group {
    display: flex;
}

#checkbox-filter-group label {
    margin-top: 10px;
    width: 45%;
}

#filterBox #checkboxes {
    margin-left: 20px;
    text-align: left;
    width: 70%;
}

#filterBox #checkboxes div {
    text-align: left;
    width: 50%;
}