#actions .btn {
    margin-bottom: 5px;
}

.btn-block {
    width: 100%;
    display: block;
}

fieldset {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

.info-stamp {
    background-image: url('/img/info.png');
    background-position: center;
    background-size: cover;
    width: 1em;
    height: 1em;
    display: inline-block;
}

#filterBox .filter-group {
    margin-bottom: 5px;
}

#filterBox .filter-label {
    width: 25%;
    text-align: right;
}

#filterBox input[type="text"],
#filterBox input[type="number"],
#filterBox select {
    width: 70%;
}

#checkbox-filter-group {
    display: flex;
}

#checkbox-filter-group label {
    margin-top: 10px;
    width: 45%;
}

#filterBox #checkboxes {
    margin-left: 20px;
    text-align: left;
    width: 70%;
}

#filterBox #checkboxes div {
    text-align: left;
    width: 50%;
}

.card:hover {
    transform: scale(2);
    transition: transform .2s;
    z-index: 1000;
    position: relative;
}

.card-overlay {
    display: none;
    position: absolute;
    bottom: 25%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.deck-card {
    width: 128px;
}

.add {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/img/add.png');
}

.remove {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/img/remove.png');
}

.card:hover .card-overlay {
    display: block;
    z-index: 1001;
}

.builder-area {
    display: flex;
}

.deck-area {
    width: 50%;
    margin-right: 10px;
}

.library-area {
    width: 25%;
}

.tool-area {
    width: 25%;
    margin-right: 10px;
}

#deck-hero {
    min-height: 100px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

#deck-landscapes {
    min-height: 100px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

#deck-cards {
    min-height: 100px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

@media (prefers-color-scheme: dark) {
    .info-stamp {
        background-image: url('/img/info-light.png');
    }
}

@media (max-width: 1250px) {
    .card:hover {
        transform: scale(1.2);
        transition: transform .2s;
        z-index: 1000;
        position: relative;
    }

    .stats {
        display: none;
    }
    .builder-area {
        flex-wrap: wrap;
    }
    .deck-area,
    .library-area,
    .tool-area
    {
        width: 100%;
    }
}
