@media (prefers-color-scheme: dark) {
    .accordion-item {
        background-color: rgb(30, 30, 30);
        color: white;
    }

    #tournamentAccordian .accordion-button {
        background-color: rgb(15, 15, 15);
        color: white;
    }

    table.tournament-results {
        color: white;
    }
}
