@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
    <title>@Configuration.GetSection("Branding")["Title"] - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CornDome.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-image: url('./img/background.webp')">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img style="height: 80px" src="./img/card-dweeb.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="top-nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-page="/DeckBuilder">Deck Builder</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/CardDatabase">Card Database</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/TournamentResults">Tournament Results</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mobile-only">
                            <a class="top-nav-item" asp-area="" asp-page="/LifeCounter">Life Counter</a>
                        </li>
                        <li class="nav-item">
                            <a class="top-nav-item" href="https://discord.gg/k6AdsejJYD" target="_blank">Card Wars Discord</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            The literal and graphical information presented on this website about the Adventure Time Card Wars Trading Card Game, including card images and text, is copyright Cryptozoic Entertainment, Frederator Studios, and/or Cartoon Network Studios. This website is not produced by, endorsed by, supported by, or affiliated with Adventure Time, Cryptozoic Entertainment, Frederator Studios, and/or Cartoon Network Studios.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>