@page
@model CornDome.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex">
    <div class="w-30">
        <img class="w-100" src="~/img/error/404.gif" />
    </div>
    <div class="w-70 p-3">
        <h1>
            Ah, ah, ah... You didn't say the magic word
        </h1>
    </div>
</div>
