@page
@model CornDome.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex">
    <div style="width: 30%">
        <img class="w-100" src="~/img/error/404.gif" />
    </div>
    <div style="width: 70%; padding: 20px;">
        <h1>
            Ah, ah, ah... You didn't say the magic word
        </h1>
    </div>
</div>
