@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IWebHostEnvironment hostingEnv
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (hostingEnv.IsProduction())
    {
        <base href="https://www.carddweeb.com" target="_top" />
    }
    <meta name="description" content="The Card Dweeb website is a utility fan-site for the Adventure Time Card Wars Trading Card Game. Card Dweeb aims to simplify deckbuilding and providing content to Card Wars players." />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>@Configuration.GetSection("Branding")["Title"] - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-image: url('/img/background.webp')">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img style="height: 80px" src="/img/card-dweeb.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="top-nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-page="/DeckBuilder">Deck Builder</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/CardDatabase">Card Database</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/TournamentResults">Tournament Results</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="top-nav-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Resources
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Resources/PreconDecklists">Collectors Pack Decklists</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Resources/Rulebook">Official Rulebook</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mobile-only">
                            <a class="top-nav-item" asp-area="" asp-page="/LifeCounter">Life Counter</a>
                        </li>
                        <li class="nav-item">
                            <a class="top-nav-item" href="https://discord.gg/k6AdsejJYD" target="_blank">Card Wars Discord</a>
                        </li>
                    </ul>
                </div>                
            </div>
        </nav>
    </header>
    @if (ViewData["RenderMode"] != null && ViewData["RenderMode"].ToString() == "wide")
    {
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    

    <footer class="border-top footer text-muted">
        <div class="contact-info">
            <div class="contact-section">
                <h5>Reach out</h5>
                <ul>
                    <li><a target="_blank" asp-page="/Contact">About Me / Contact</a></li>
                    <li><a target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=NB4AFVEEE3JAA">Donate</a></li>
                </ul>
            </div>
            <div class="contact-section">
            </div>
            <div class="contact-section">
                <h5>Follow</h5>
                <ul>
                    <li><a target="_blank" href="https://www.twitter.com/itderrick">@@itderrickh on X/Twitter</a></li>
                    <li><a target="_blank" href="https://twitter.com/Cryptozoic">@@Cryptozoic on X/Twitter</a></li>
                    <li><a target="_blank" href="https://github.com/itderrickh/CornDome">This project on github</a></li>
                </ul>
            </div>
            <div class="contact-section">
            </div>
            
        </div>
        <div class="disclaimer">
            The literal and graphical information presented on this website about the Adventure Time Card Wars Trading Card Game, including card images and text, is copyright Cryptozoic Entertainment, Frederator Studios, and/or Cartoon Network Studios. This website is not produced by, endorsed by, supported by, or affiliated with Adventure Time, Cryptozoic Entertainment, Frederator Studios, and/or Cartoon Network Studios.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @if (hostingEnv.IsProduction())
    {
        <script src="~/js/anti-domain-swiper.js"></script>
    }
</body>
</html>