@page
@model CornDome.Pages.Resources.PreconDecklistsModel
@{
    ViewData["Title"] = "Preconstructed Decks";
}

<div>
    <img src="~/img/precon-breakdown-1.png" style="width: 100%;" />
</div>

<div>
    <img src="~/img/precon-breakdown-2.png" style="width: 100%;" />
</div>

<div>
    <img src="~/img/precon-breakdown-3.png" style="width: 100%;" />
</div>