@page
@model CornDome.Pages.Resources.PreconDecklistsModel
@{
    ViewData["Title"] = "Preconstructed Decks";
}

<div>
    <img src="~/img/precon-breakdown-1.png" alt="Preconstructed decks image" class="w-100" />
</div>

<div>
    <img src="~/img/precon-breakdown-2.png" alt="Preconstructed decks image" class="w-100" />
</div>

<div>
    <img src="~/img/precon-breakdown-3.png" alt="Preconstructed decks image" class="w-100" />
</div>