@page
@model CornDome.Pages.Resources.RulebookModel
@{
    ViewData["Title"] = "Rulebook";
    ViewData["RenderMode"] = "wide";
}

<div style="display: flex; flex-wrap: wrap;">
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-01.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-02.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-03.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-04.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-05.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-06.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-07.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-08.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-09.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-10.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-11.png" /></div>
    <div class="rulebook-page"><img alt="Rulebook page image" src="~/img/rulebook/AdventureTimeCardWarsFinnvsJake-12.png" /></div>
</div>

@section Styles {
    <link rel="stylesheet" href="/css/rulebook.css" />
}