@page
@model CornDome.Pages.BacklogModel
@{
    ViewData["Title"] = "Upcoming Features";
}

<div style="text-align: center; margin-bottom: 40px">
    <span style="font-style: italic;">If you have any questions, suggestions, or bugs to submit please <a href="mailto:itderrickh@gmail.com">email</a> me or contact directly via Discord in the Card Wars server (#itderrickh) </span>
</div>
<div>
    <h2>Upcoming User Features (in priority order)</h2>
    <ul>
        <li>Better image loading performance (add thumbnails)</li>
        <li>Improved sorting of CardDatabase</li>
        <li>Link to download bulk images</li>
        <li>Timer for tournaments</li>
        <li>Live Updates for tournaments</li>
        <li>Card Rulings</li>
        <li>Deck Data Analytics (cost distribution, color distribution, etc)</li>
        <li>Multi-Language support</li>
        <li>Collector Pack Decks should have links to decklists</li>
        <li>Site under maintenance warning page</li>
    </ul>
</div>

<div>
    <h2>Upcoming Admin Features (in priority order)</h2>
    <ul>
        <li>Uploading/Editing Cards</li>
        <li>Revising card images</li>
        <li>Generating thumbnails automatically</li>
        <li>Drop/DQ/Remove Users from Tournaments</li>
        <li>ER Diagrams for Devs</li>
    </ul>
</div>

<div>
    <h2>Known Bugs</h2>
    <ul>
        <li>After logging in user not returned to proper page</li>
    </ul>
</div>