@page
@model CornDome.Pages.ContactModel
@{
    ViewData["Title"] = "About Me / Contact";
}

<div class="mb-3">
    <h1 style="border-bottom: 1px solid lightgray">About Me</h1>
    <p>
        I am Derrick, a software engineer with a passion for card games and an enjoyer of nerdy things.
        Primarily a Pokemon TCG player, I have grown bored of the competitive format and started playing other games on the side.
    </p>
    <p>
        My boredom of standard format led me down a rabbit hole and while scrolling through social media I saw an ad for the Adventure Time Card Wars kickstarter project.
        I played this card game about a decade ago with my best pal Brandon and forgot about it for 10 years of activities including:
        attending college, getting married, and buying my first home.
    </p>
    <p>
        So I did what any sane card game enjoyer software developer would do. Make a fun website for it!
    </p>
</div>

<div>
    <h1 style="border-bottom: 1px solid lightgray">Contact Info</h1>
    <p>
        I accept emails at <a href="mailto:itderrickh@gmail.com">itderrickh@gmail.com</a> or I can be reached at <a href="https://www.linkedin.com/in/itderrickh/">LinkedIn</a> for career opportunities.
    </p>
</div>