@page
@model CornDome.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits and Supporters";
}

<div style="margin-bottom: 20px;">
    <h1>Supporters</h1>
    <p>Thank you to the following individuals for monetary support keeping the server alive and the projects continuation</p>
    <ul>
        <li><strong>Mataio Wilson</strong></li>
        <li><strong>Andrew Miller</strong></li>
    </ul>
</div>


<div style="margin-bottom: 20px;">
    <h1>Credits</h1>
    <p>Thank you to the following individuals for helping provide features for the site!</p>
    <ul>
        <li><strong>JeffPattonMagic</strong> - For providing high quality scans for the Kickstarter #1 release</li>
        <li><strong>PichuisPro</strong> - For providing meta decks and information about high level Card Wars strategy</li>
    </ul>
</div>