@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div style="display: flex">
    <div style="width: 30%">
        <img style="width: 100%;" src="~/img/error/404.gif" />
    </div>
    <div style="width: 70%; padding: 20px;">
        <h1>
            Something went wrong (don't panic the site owner will investigate this)
        </h1>
    </div>
</div>
