@page
@model IndexModel
@{
    ViewData["Title"] = "Card Wars Helper Site";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the Card Wars Fan Site - Card Dweeb</h2>

    <section class="article-area">
        <div class="left-area">
            <img src="~/img/card-dweeb.jpg" style="width: 100%;" />
        </div>
        <aside class="right-area">
            <div style="padding: 10px 5px; border-bottom: 1px solid lightgray">
                <h3>Follow the Cryptozoic team on X for more game updates!</h3>
                <a href="https://twitter.com/Cryptozoic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow Cryptozoic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div style="padding: 10px 5px; border-bottom: 1px solid lightgray">
                <h3>View the Card Wars 2025 project on Kickstarter (and please pledge if you can! &lt;3</h3>
                <a href="https://www.kickstarter.com/projects/cze/adventure-time-card-wars-2025">Pledge Now!</a>
            </div>
            <div style="padding: 5px;">
                <h3>See upcoming features for CardDweeb</h3>
                <a asp-page="Backlog">Click Here!</a>
            </div>
        </aside>
    </section>
</div>

@section Styles {
    <link rel="stylesheet" href="./css/index.css" asp-append-version="true" />
}