@page
@model IndexModel
@{
    ViewData["Title"] = "Card Wars Helper Site";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Card Wars fan site - Card Dweeb</h1>

    <section class="article-area">
        <div class="left-area">
            <div style="display: flex; flex-direction: column;">
            @foreach (var article in Model.Articles.OrderByDescending(x => x.UpdatedDate))
            {
                <article>
                    <div>
                        <img style="width: 100%;" src="@article.ImagePath" alt="Card image cap">
                    </div>
                    
                    <div class="article-text">
                        <h5>@article.Title</h5>
                        <p>@article.CreatedDate</p>
                        <a href="@Model.GetFinalDirectory(article)" class="btn btn-primary">Read more</a>
                    </div>
                </article>
            }
            </div>
        </div>
        <aside class="right-area">
            <div>
                <h2>Follow the Cryptozoic team on X for more game updates!</h2>
                <a href="https://twitter.com/Cryptozoic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow Cryptozoic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
                <h2>Share feedback with the creator of this website</h2>
                <a href="https://twitter.com/intent/tweet?screen_name=itderrickh&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to itderrickh</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>            
        </aside>
    </section>
</div>

@section Styles {
    <link rel="stylesheet" href="./css/index.css" />
}