@page
@model CornDome.Pages.LifeCounterModel
@{
    Layout = "_LayoutEmpty";
}

<div class="table">
    <div class="counter">
        <div id="subtractA" class="counter-text">-</div>
        <div id="countA" class="counter-text">25</div>
        <div id="addA" class="counter-text">+</div>
    </div>
    <div class="counter opposite">
        <div id="subtractB" class="counter-text">-</div>
        <div id="countB" class="counter-text">25</div>
        <div id="addB" class="counter-text">+</div>
    </div>
</div>

<script src="./js/wakeLock.js" asp-append-version="true"></script>

<script>
    var lifeA = 25;
    var lifeB = 25;

    document.getElementById("subtractA").onclick = function () {
        if (lifeA > 0)
            lifeA--;
        document.getElementById("countA").innerHTML = lifeA;
    };

    document.getElementById("addA").onclick = function () {
        lifeA++;
        document.getElementById("countA").innerHTML = lifeA;
    };

    document.getElementById("subtractB").onclick = function () {
        if (lifeB > 0)
            lifeB--;
        document.getElementById("countB").innerHTML = lifeB;
    };

    document.getElementById("addB").onclick = function () {
        lifeB++;
        document.getElementById("countB").innerHTML = lifeB;
    };

    (async function() {
        await lockWakeState();
    })();
    
</script>

@section Styles {
    <link rel="stylesheet" href="./css/lifecounter.css" asp-append-version="true" />
}