@page
@model CornDome.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">

    <h1>Privacy Policy of CardDweeb</h1>
    <p> Last updated: 2025-04-02</p>
    <p>We are CardDweeb. This privacy policy outlines how we collect, use, and protect your personal information when you use our services. </p>
    <p>You can contact us at itderrickh@gmail.com.</p>
    <h2>Table of contents</h2>
    <ul>
        <li>Introduction</li>
        <li>Contact information</li>
        <li>Types of data collected</li>
        <li>Mode and place of processing personal data</li>
        <li>Detailed information on the processing of personal data</li>
        <li>Further information</li>
        <li>Your rights based on the General Data Protection Regulation (GDPR)</li>
        <li>Further information if you reside in Switzerland</li>
        <li>Further information if you reside in Brazil</li>
        <li>Further information if you reside in California</li>
        <li>Further information if you reside in Virginia</li>
        <li>Further information if you reside in Colorado</li>
        <li>Further information if you reside in Connecticut</li>
        <li>Further information if you reside in Utah</li>
        <li>Additional information about data collection and processing</li>
        <li>Definitions and legal references</li>
    </ul>
    <h2>Introduction</h2>
    <p>
        <strong>What is this policy about?</strong>
        This document explains how this website collects, uses, and protects your personal data to achieve the purposes outlined in this document.
    </p>
    <p>
        <strong>What is personal data?</strong>
        Personal data refers to information that can be used to identify you directly or indirectly. This includes details such as first name, last name, email address, tracking technologies (like cookies or tracking pixels), user activity, and device information. You can find detailed information on each type of personal data collected in dedicated sections of this privacy policy or in text shown before data is collected.
    </p>
    <h2>Contact Information</h2>
    <p><strong>Email:</strong> itderrickh@gmail.com</p>
    <h2>Types of data collected</h2>
    <p> The types of personal data that this website collects, by itself or through third parties, may include: </p>
    <ul>
        <li>display name; </li>
        <li>email address; </li>
    </ul>
    <p>Complete details on each type of personal data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the data collection. personal data may be freely provided by you, or, in case of Usage data, collected automatically when using this website. Unless specified otherwise, all data requested by this website is mandatory and failure to provide this data may make it impossible for this website to provide its services. </p>
    <p>In cases where this website specifically states that some personal data is not mandatory, you are free not to communicate this data without consequences to the availability or the functioning of the service. </p>
    <p>Any use of cookies – or of other tracking tools — by this website or by the owners of third-party services used by this website serves the purpose of providing the service required by you, in addition to any other purposes described in the present document.</p>
    <p>You are responsible for any third-party personal data obtained, published or shared through this website.</p>
    <h2>Mode and place of processing personal data</h2>
    <p>
        <strong>Methods of processing</strong>
        We take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the data. The data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated.
    </p>
    <p>In addition to ourselves, in some cases, the data may be accessible to certain types of persons in charge, involved with the operation of this website (e.g. administration, sales team, marketing team, legal team).</p>
    <p>The data may also be accessible to external parties appointed, if necessary, as data processors by us. </p>
    <p>The updated list of these parties may be requested from us at any time by contacting us at the contact details provided in this document.</p>
    <p>
        <strong>Place</strong>
        The data is processed at our operating offices and in any other places where the parties involved in the processing are located. Depending on your location, data transfers may involve transferring your data to a country other than your own. To find out more about the place of processing of such transferred data, you can check the section containing details about the processing of personal data.
    </p>
    <p>
        <strong>Retention time</strong>
        Unless specified otherwise in this document, personal data shall be processed and stored for as long as required by the purpose they have been collected for and may be retained for longer due to applicable legal obligation or based on your consent.
    </p>
    <h2>Detailed information on the processing of personal data</h2>
    <p> Your personal data is collected to allow us to provide our service, comply with our legal obligations, respond to enforcement requests, protect our rights and interests (or yours or those of third parties), detect any malicious or fraudulent activity, as well as the purposes set out below:</p>
    <p>Personal data processed: email address; display name</p>
    <p>Category of personal information collected according to the CCPA: identifiers. This processing constitutes: a sale according to the CCPA, VCDPA, CPA, CTDPA and UCPA</p>
    <h2>Further information</h2>
    <p><strong>Legal basis of processing</strong></p>
    <ul>
        <li>We may process personal data relating to you if you have given your consent or for one or more specific purposes: provision of data is necessary for the performance of an agreement with you and/or for any pre-contractual obligations thereof;</li>
        <li>processing is necessary for compliance with a legal obligation to which we are subject;</li>
        <li>processing is related to a task that is carried out in the public interest or in the exercise of official authority vested in us;</li>
        <li>processing is necessary for the purposes of the legitimate interests pursued by us or by a third party.</li>
    </ul>
    <p>In any case, we will gladly help to clarify the specific legal basis that applies to the processing, and whether the provision of personal data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.</p>
    <p><strong>Understanding how long we keep your information</strong></p>
    <p>When we collect your personal information, we keep it for as long as required for the purposes we collected for. Sometimes, we might need to keep your personal information longer due to a legal obligation or based on your consent. </p>
    <p>Here’s what that means in more detail. We will keep your personal information based on the purposes and reasons set out below: </p>
    <ul>
        <li><strong>for contractual purposes:</strong> If we have concluded a contract with you, then we&#39;ll keep your information until the contract has been performed in full.</li>
        <li><strong>for our legitimate interests:</strong> If we&#39;re using your personal information for purposes that are necessary and relevant to our business operations, we&#39;ll keep it as long as we need it for those purposes. You can learn more about these purposes within the relevant sections of this document or by contacting us. </li>
        <li><strong>with your consent:</strong> We may be allowed to retain personal data for a longer period whenever you have given consent to such processing, unless you withdraw your consent. </li>
        <li><strong>legal obligations:</strong> we may be obliged to retain personal data for a longer period whenever required to fulfill a legal obligation or upon order of an authority. </li>
    </ul>
    <p>Once the retention period expires, your personal data will be deleted. Therefore, the right of access, the right to erasure, the right to rectification and the right to data portability cannot be enforced after expiration of the retention period.</p>
    <h2><strong><strong><strong><em>**</em></strong></strong></strong>Information about this document<strong><strong><strong><em>**</em></strong></strong></strong></h2>
    <h2>Your rights based on the General Data Protection Regulation (GDPR)</h2>
    <p> You may exercise certain rights regarding your data processed by us. In particular, you have the right to do the following, to the extent permitted by law:</p>
    <ul>
        <li><strong>Withdraw your consent at any time.</strong> You have the right to withdraw consent where they have previously given your consent to the processing of your personal data.</li>
        <li>
            <strong>Object to processing of your data.</strong> You have the right to object to the processing of your data if the processing is carried out on a legal basis other than consent.
            <ul>
                <li>If your personal data is processed for public interest, by an official authority, or for our legitimate business interests, you can object by providing a reason related to your particular situation.</li>
                <li>However, if your personal data is being processed for direct marketing purposes, you can object at any time, free of charge, and without any reason. If you do, we will stop using your personal data for marketing. To find out if we are using your data for direct marketing, please refer to the relevant sections of this document.</li>
            </ul>
        </li>
        <li><strong>Access your data.</strong> You have the right to learn if data is being processed by us, obtain disclosure regarding certain aspects of the processing and obtain a copy of the data undergoing processing.</li>
        <li><strong>Verify and seek rectification.</strong> You have the right to verify the accuracy of your data and ask for it to be updated or corrected.</li>
        <li><strong>Restrict the processing of your data.</strong> You have the right to restrict the processing of your data. In this case, we will not process your data for any purpose other than storing it.</li>
        <li><strong>Have your personal data deleted or otherwise removed.</strong> You have the right to obtain the erasure of your data from us.</li>
        <li><strong>Receive your data and have it transferred to another controller.</strong> You have the right to receive your data in a structured, commonly used and machine-readable format and, if technically feasible, to have it transmitted to another controller without any hindrance.</li>
        <li><strong>Lodge a complaint.</strong> You have the right to bring a claim before your competent data protection authority.</li>
        <li><strong>Learn about the reason for data transfers.</strong> You are also entitled to learn about the legal basis for data transfers abroad, including to any international organization governed by public international law or set up by two or more countries, such as the UN. </li>
        <li><strong>Know about security measures.</strong> You have the right to know about the security measures we take to safeguard your data.</li>
    </ul>
    <h3>How to exercise these rights</h3>
    <p> Any requests to exercise your rights can be directed to us. Our full contact details can be found at the start of this document.</p>
    <p>Such requests are free of charge and will be answered by us as early as possible, providing you with the information required by law. </p>
    <p>Any rectification or erasure of personal data or restriction of processing will be communicated by us to each recipient, if any, to whom the personal data has been disclosed unless this proves impossible or involves disproportionate effort. At your request, we will inform you about those recipients.</p>
    <h2>Further information if you reside in Switzerland</h2>
    <p> This section applies to you if you reside in Switzerland, and supersedes any other possibly divergent or conflicting information contained in the privacy policy.</p>
    <p>Further details regarding the categories of data processed, the purposes of processing, the categories of recipients of the personal data, if any, the retention period and further information about personal data can be found in the section titled “Detailed information on the processing of personal data” within this document.</p>
    <h3>Your rights according to the Swiss Federal Act on Data Protection</h3>
    <p> You may exercise certain rights regarding your data within the limits of law, including the following:</p>
    <ul>
        <li>right of access to personal data;</li>
        <li>right to object to the processing of your personal data (which also allows you to demand that processing of personal data be restricted, personal data be deleted or destroyed, specific disclosures of personal data to third parties be prohibited);</li>
        <li>right to receive your personal data and have it transferred to another controller (data portability);</li>
        <li>right to ask for incorrect personal data to be corrected.</li>
    </ul>
    <h3>How to exercise these rights</h3>
    <p> Any requests to exercise your rights can be directed to us through the contact details provided at the start of this document. Such requests are free of charge and will be answered by us as early as possible, providing you with the information required by law.</p>
    <h2>Further information if you reside in Brazil</h2>
    <p> This section of the document integrates with and supplements the information contained in the rest of the privacy policy and is provided by the entity running this website and, if the case may be, its parent, subsidiaries and affiliates (for the purposes of this section referred to collectively as “we”, “us”, “our”).</p>
    <p>This section applies to all Users in Brazil (Users are referred to below, simply as “you”, “your”, “yours”), according to the &quot;Lei Geral de Proteção de Dados&quot; (the &quot;LGPD&quot;), and for such Users, it supersedes any other possibly divergent or conflicting information contained in the privacy policy. This part of the document uses the term “personal information” as it is defined in the LGPD.</p>
    <h3>The grounds on which we process your personal information</h3>
    <p> We can process your personal information solely if we have a legal basis for such processing. Legal bases are as follows:</p>
    <ul>
        <li>your consent to the relevant processing activities;</li>
        <li>compliance with a legal or regulatory obligation that lies with us;</li>
        <li>the carrying out of public policies provided in laws or regulations or based on contracts, agreements and similar legal instruments;</li>
        <li>studies conducted by research entities, preferably carried out on anonymized personal information;</li>
        <li>the carrying out of a contract and its preliminary procedures, in cases where you are a party to said contract;</li>
        <li>the exercising of our rights in judicial, administrative or arbitration procedures;</li>
        <li>protection or physical safety of yourself or a third party;</li>
        <li>the protection of health – in procedures carried out by health entities or professionals;</li>
        <li>our legitimate interests, provided that your fundamental rights and liberties do not prevail over such interests; and</li>
        <li>credit protection.</li>
    </ul>
    <p>To find out more about the legal bases, you can contact us at any time using the contact details provided at the start of this document.</p>
    <h3>Categories of personal information processed</h3>
    <p> To find out what categories of your personal information are processed, you can read the section titled “Detailed information on the processing of personal data” within this document.</p>
    <h3>Why we process your personal information</h3>
    <p> To find out why we process your personal information, you can read the sections titled “Detailed information on the processing of personal data” and “The purposes of processing” within this document.</p>
    <hr>
    <h3>Your Brazilian privacy rights</h3>
    <p> You have the right to:</p>
    <ul>
        <li>obtain confirmation of the existence of processing activities on your personal information;</li>
        <li>access to your personal information;</li>
        <li>have incomplete, inaccurate or outdated personal information rectified;</li>
        <li>obtain the anonymization, blocking or elimination of your unnecessary or excessive personal information, or of information that is not being processed in compliance with the LGPD;</li>
        <li>obtain information on the possibility to provide or deny your consent and the consequences thereof;</li>
        <li>obtain information about the third parties with whom we share your personal information;</li>
        <li>obtain, upon your express request, the portability of your personal information (except for anonymized information) to another service or product provider, provided that our commercial and industrial secrets are safeguarded;</li>
        <li>obtain the deletion of your personal information being processed if the processing was based upon your consent, unless one or more exceptions provided for in art. 16 of the LGPD apply;</li>
        <li>revoke your consent at any time;</li>
        <li>lodge a complaint related to your personal information with the ANPD (the National data Protection Authority) or with consumer protection bodies;</li>
        <li>oppose a processing activity in cases where the processing is not carried out in compliance with the provisions of the law;</li>
        <li>request clear and adequate information regarding the criteria and procedures used for an automated decision; and</li>
        <li>request the review of decisions made solely on the basis of the automated processing of your personal information, which affect your interests. These include decisions to define your personal, professional, consumer and credit profile, or aspects of your personality.</li>
    </ul>
    <p>You will never be discriminated against, or otherwise suffer any sort of detriment, if you exercise your rights.</p>
    <h3>How to file your request</h3>
    <p> You can file your express request to exercise your rights free from any charge, at any time, by using the contact details provided at the start of this document, or via your legal representative.</p>
    <h3>How and when we will respond to your request</h3>
    <p>
        <strong>Prompt responses</strong>
        We will strive to promptly respond to your requests. In any case, should it be impossible for us to do so, we’ll make sure to communicate to you the factual or legal reasons that prevent us from immediately, or otherwise ever, complying with your requests. In cases where we are not processing your personal information, we will indicate to you the physical or legal person to whom you should address your requests, if we are in the position to do so.
    </p>
    <p>
        <strong>Access or processing confirmation requests</strong>
        If you file an access or personal information processing confirmation request, please make sure that you specify whether you’d like your personal information to be delivered in electronic or printed form. You will also need to let us know whether you want us to answer your request immediately, in which case we will answer in a simplified fashion, or if you need a complete disclosure instead. In the latter case, we’ll respond within 15 days from the time of your request, providing you with all the information on the origin of your personal information, confirmation on whether records exist, any criteria used for the processing and the purposes of the processing, while safeguarding our commercial and industrial secrets.
    </p>
    <p>
        <strong>Rectification, deletion, anonymization or personal information blocking requests</strong>
        If you file a rectification, deletion, anonymization or personal information blocking request, we will make sure to immediately communicate your request to other parties with whom we have shared your personal information in order to enable such third parties to also comply with your request — except in cases where such communication is proven impossible or involves disproportionate effort on our side.
    </p>
    <h3>Transfer of personal information outside of Brazil permitted by the law</h3>
    <p> We are allowed to transfer your personal information outside of the Brazilian territory in the following cases:</p>
    <ul>
        <li>when the transfer is necessary for international legal cooperation between public intelligence, investigation and prosecution bodies, according to the legal means provided by the international law;</li>
        <li>when the transfer is necessary to protect your life or physical security or those of a third party;</li>
        <li>when the transfer is authorized by the ANPD;</li>
        <li>when the transfer results from a commitment undertaken in an international cooperation agreement;</li>
        <li>when the transfer is necessary for the execution of a public policy or legal attribution of public service;</li>
        <li>when the transfer is necessary for compliance with a legal or regulatory obligation, the carrying out of a contract or preliminary procedures related to a contract, or the regular exercise of rights in judicial, administrative or arbitration procedures.</li>
    </ul>
    <h2>Further information if you reside in California</h2>
    <h3>About this section</h3>
    <p> This section of the document integrates with and supplements the information contained in the rest of the privacy policy and is provided by the business running this Website and, if the case may be, its parent, subsidiaries and affiliates (for the purposes of this section referred to collectively as “we”, “us”, “our”).</p>
    <h4>Applicability</h4>
    <p> This section applies to all users (users are referred to below, simply as “you”, “your”, “yours”), who are consumers residing in the state of California, United States of America, according to the &quot;California Consumer Privacy Act of 2018&quot; (the &quot;CCPA&quot;), as updated by the &quot;California Privacy Rights Act&quot; (the &quot;CPRA&quot;) and subsequent regulations. For such consumers, this section supersedes any other possibly divergent or conflicting information contained in the privacy policy.</p>
    <h4>Definition</h4>
    <p> This part of the document uses the term “personal information“ as defined in the California Consumer Privacy Act(CCPA/CPRA).</p>
    <h3>Categories of personal information that we collect</h3>
    <ul>
        <li>
            We have collected the following categories of personal information about you:
            <ul>
                <li>identifiers, and </li>
                <li>internet or other electronic network activity information</li>
            </ul>
        </li>
        <li>We do not collect sensitive personal information. </li>
        <li>We will not collect additional categories of personal information without notifying you.</li>
    </ul>
    <h3>What are the purposes for which we use your personal information?</h3>
    <p>
        <strong>Business Purposes</strong>
        We may use your personal information to allow the operational functioning of this website and features thereof. In such cases, your personal information will be processed in a fashion necessary and proportionate to the business purpose for which it was collected, and strictly within the limits of compatible operational purposes.
    </p>
    <p>
        <strong>Commercial Purposes</strong>
        We may also use your personal information for other reasons such as for commercial purposes, as well as for complying with the law and defending our rights before the competent authorities where our rights and interests are threatened, or we suffer an actual damage.
    </p>
    <p>
        <strong>No unexpected or incompatible purposes</strong>
        We won’t process your information for unexpected purposes, or for purposes incompatible with the purposes originally disclosed, without your consent.
    </p>
    <h3>How long do we keep your personal information?</h3>
    <p> Unless stated otherwise inside the “Detailed information on the processing of personal data” section, we will not retain your personal information for longer than is reasonably necessary for the purpose(s) they have been collected for.</p>
    <h3>What are the sources of the personal information we collect?</h3>
    <p> We collect the above-mentioned categories of personal information, either directly or indirectly, from you when you use this website.</p>
    <p><strong>Direct Collection:</strong> For example, you directly provide your personal information when you submit requests via any forms on this website. </p>
    <p><strong>Indirect Collection</strong>: You also provide personal information indirectly when you navigate this website, as personal information about you is automatically observed and collected.</p>
    <p><strong>Third Parties</strong>: Finally, we may collect your personal information from third parties that work with us in connection with the service or with the functioning of this Application and features thereof.</p>
    <h3>How we use the information we collect</h3>
    <p>
        <strong>Disclosing of your personal information with third parties for a business purpose</strong>
        For our purposes, the word “third party” means a person who is not any of the following: a service provider or a contractor, as defined by the CCPA.
        We disclose your personal information with the third parties listed in detail in the section titled “Detailed information on the processing of personal data” within this document. These third parties are grouped and categorized in accordance with the different purposes of processing.
    </p>
    <p>
        <strong>Sale or sharing of your personal information</strong>
        For our purposes, the word “sale” means any “selling, renting, releasing, disclosing, disseminating, making available, transferring or otherwise communicating orally, in writing, or by electronic means, a consumer&#39;s personal information by the business to a third party, for monetary or other valuable consideration”, as defined by the CCPA.
        This means that, for example, a sale can happen whenever an application runs ads, or makes statistical analyses on the traffic or views, or simply because it uses tools such as social network plugins and the like.
    </p>
    <p>For our purposes, the word “sharing” means any “sharing, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, or by electronic or other means, a consumer&#39;s personal information by the business to a third party for cross-context behavioral advertising, whether or not for monetary or other valuable consideration, including transactions between a business and a third party for cross-context behavioral advertising for the benefit of a business in which no money is exchanged”, as defined by the CCPA. Please note that the exchange of personal information with a service provider pursuant to a written contract that meets the requirements set by the CCPA, does not constitute a sale or sharing of your personal information.</p>
    <h3>Opt-Out Rights</h3>
    <p> We sell or share your personal information with the third parties listed in detail in the section titled “Detailed information on the processing of personal data” within this document. These third parties are grouped and categorized in accordance with the different purposes of processing. </p>
    <p>You have the right to opt out of the sale or sharing of your personal information. This means that whenever you request us to stop selling or sharing your personal information, we will abide by your request. Such requests can be made freely, at any time, without submitting any verifiable request. To fully exercise your right to opt out, you can contact us at any time using the contact details provided at the start of this document. For a simplified opt-out method you can also use the privacy choices link provided on this website.</p>
    <p>If you want to submit requests to opt out of the sale or sharing of personal information via a user-enabled global privacy control, like the Global Privacy Control (“GPC”), you are free to do so and we will abide by such request in a frictionless manner (as defined in the CPRA regulations). The GPC consists of a setting or extension in the browser or mobile device and acts as a mechanism that websites can use to indicate they support the GPC signal. If you want to use GPC, you can download and enable it via a participating browser or browser extension. More information about downloading GPC is available here.</p>
    <p>We use any personal information collected from you in connection with the submission of your opt-out request solely for the purposes of complying with the opt-out request. Once you have opted out, we are required to wait at least 12 months before asking whether you have changed your mind.</p>
    <h3>Your privacy rights under the California Consumer Privacy Act and how to exercise them</h3>
    <p> The right to access personal information: the right to know and to portability</p>
    <p>You have the right to request that we disclose to you:</p>
    <ul>
        <li>the categories of personal information that we collect about you;</li>
        <li>the sources from which the personal information is collected;</li>
        <li>the purposes for which we use your information;</li>
        <li>to whom we disclose such information;</li>
        <li>the specific pieces of personal information we have collected about you.</li>
    </ul>
    <p>You also have <strong>the right to know what personal information is sold or shared and to whom.</strong> In particular, you have the right to request two separate lists from us where we disclose:</p>
    <ul>
        <li>the categories of personal information that we sold or shared about you and the categories of third parties to whom the personal information was sold or shared;</li>
        <li>the categories of personal information that we disclosed about you for a business purpose and the categories of persons to whom it was disclosed for a business purpose.</li>
    </ul>
    <p>The disclosure described above will be limited to the personal information collected or used over the past 12 months.</p>
    <p>If we deliver our response electronically, the information enclosed will be &quot;portable&quot;, i.e. delivered in an easily usable format to enable you to transmit the information to another entity without hindrance — provided that this is technically feasible.</p>
    <p>
        <strong>The right to request the deletion of your personal information</strong>
        You have the right to request that we delete any of your personal information, subject to exceptions set forth by the law (such as, including but not limited to, where the information is used to identify and repair errors on this website, to detect security incidents and protect against fraudulent or illegal activities, to exercise certain rights etc.).
    </p>
    <p>If no legal exception applies, as a result of exercising your right, we will delete your personal information and notify any of our service providers and all third parties to whom we have sold or shared the personal information to do so — provided that this is technically feasible and doesn’t involve disproportionate effort.</p>
    <p>
        <strong>The right to correct inaccurate personal information</strong>
        You have the right to request that we correct any inaccurate personal information we maintain about you, considering the nature of the personal information and the purposes of the processing of the personal information.
    </p>
    <p>
        <strong>The right to opt out of sale or sharing of personal information and to limit the use of your sensitive personal information</strong>
        You have the right to opt out of the sale or sharing of your personal information. You also have the right to request that we limit our use or disclosure of your sensitive personal information.
    </p>
    <p>
        <strong>The right of no retaliation following opt-out or exercise of other rights (the right to non-discrimination)</strong>
        We will not discriminate against you for exercising your rights under the CCPA. This means that we will not discriminate against you, including, but not limited to, by denying goods or services, charging you a different price, or providing a different level or quality of goods or services just because you exercised your consumer privacy rights.
        However, if you refuse to provide your personal information to us or ask us to delete or stop selling your personal information, and that personal information or sale is necessary for us to provide you with goods or services, we may not be able to complete that transaction.
        To the extent permitted by the law, we may offer you promotions, discounts, and other deals in exchange for collecting, keeping, or selling your personal information, provided that the financial incentive offered is reasonably related to the value of your personal information.
    </p>
    <p><strong>How to exercise your rights</strong></p>
    <ul>
        <li>To exercise the rights described above, you need to submit your verifiable request to us by contacting us via the details provided at the start of this document.</li>
        <li>
            For us to respond to your request, it’s necessary that we know who you are. Therefore, you can only exercise the above rights by making a verifiable request which must:
            <ul>
                <li>provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative;</li>
                <li>describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
            </ul>
        </li>
        <li>We will not respond to any request if we are unable to verify your identity and therefore confirm the personal information in our possession actually relates to you.</li>
        <li>Making a verifiable consumer request does not require you to create an account with us. We will use any personal information collected from you in connection with the verification of your request solely for the purposes of verification and shall not further disclose the personal information, retain it longer than necessary for purposes of verification, or use it for unrelated purposes.</li>
        <li>If you cannot personally submit a verifiable request, you can authorize a person registered with the California Secretary of State to act on your behalf.</li>
        <li>If you are an adult, you can make a verifiable request on behalf of a child under your parental authority.</li>
        <li>You can submit a maximum number of 2 requests over a period of 12 months.</li>
    </ul>
    <p><strong>How and when we are expected to handle your request</strong></p>
    <ul>
        <li>We will confirm receipt of your verifiable request within 10 days and provide information about how we will process your request.</li>
        <li>We will respond to your request within 45 days of its receipt. Should we need more time, we will explain to you the reasons why, and how much more time we need. In this regard, please note that we may take up to 90 days to fulfill your request.</li>
        <li>Our disclosure(s) will cover the preceding 12-month period. Only with regard to personal information collected on or after January 1, 2022, you have the right to request that we disclose information beyond the 12-month period, and we will provide them to you unless doing so proves impossible or would involve a disproportionate effort.</li>
        <li>Should we deny your request, we will explain you the reasons behind our denial.</li>
        <li>We do not charge a fee to process or respond to your verifiable request unless such request is manifestly unfounded or excessive. In such cases, we may charge a reasonable fee, or refuse to act on the request. In either case, we will communicate our choices and explain the reasons behind it.</li>
    </ul>
    <h2>Further information if you reside in Virginia</h2>
    <p> This section of the document integrates with and supplements the information contained in the rest of the privacy policy and is provided by the controller running this Application and, if the case may be, its parent, subsidiaries and affiliates (for the purposes of this section referred to collectively as “we”, “us”, “our”).</p>
    <p>This section applies to you if you reside in the Commonwealth of Virginia, according to the “Virginia Consumer data Protection Act&quot; (the &quot;VCDPA&quot;), and, it supersedes any other possibly divergent or conflicting information contained in the privacy policy. This part of the document uses the term “personal data” as defined in the VCDPA.</p>
    <h3>Categories of personal data processed</h3>
    <p> You can read about these activities in detail in the section titled “Detailed information on the processing of personal data” <em>**</em> within this document.</p>
    <h3>Types of personal data we collect</h3>
    <ul>
        <li>We have collected the following categories of personal data: identifiers and internet information</li>
        <li>We do not collect sensitive data.</li>
        <li>We will not collect additional categories of personal data without notifying you.</li>
    </ul>
    <h3>Why we process your personal data</h3>
    <p>
        To find out why we process your personal data, you can read the sections titled “Detailed information on the processing of personal data” and “The purposes of processing” within this document.
        We won’t process your information for unexpected purposes, or for purposes incompatible with the purposes originally disclosed, without your consent. You can freely give, deny, or withdraw such consent at any time using the contact details provided at the start of this document.
    </p>
    <h3>How we use the data we collect: sharing of your personal data with third parties</h3>
    <p> We share your personal data with the third parties listed in detail in the section titled “Detailed information on the processing of personal data” within this document. These third parties are grouped and categorized in accordance with the different purposes of processing. For our purposes, the word &quot;third party&quot; means &quot;a natural or legal person, public authority, agency, or body other than the consumer, controller, processor, or an affiliate of the processor or the controller&quot; as defined by the VCDPA.</p>
    <h3>Sale of your personal data</h3>
    <p> For our purposes, the word “sale” means any “exchange of personal data for monetary consideration by us to a third party” as defined by the VCDPA. Please note that according to the VCDPA, the disclosure of personal data to a processor that processes personal data on behalf of a controller does not constitute a sale. In addition, other specific exceptions set forth in the VCDPA may apply, such as, but not limited to, the disclosure of personal data to a third party for the provision of a product or service requested by you. As specified in the “Detailed information on the processing of personal data” section of this document, our use of your personal information may be considered a sale under VCDPA.</p>
    <h3>Your right to opt out of the sale of your personal data and how you can exercise it</h3>
    <p>
        You have the right to opt out of the sale of your personal data. This means that whenever you request us to stop selling your data, we will abide by your request. To fully exercise your right to opt out you can contact us at any time using the contact details provided at the start of this document.
        We use any personal data collected from you in connection with the submission of your opt-out request solely for the purpose of complying with the request.
    </p>
    <h3>Processing of your personal data for targeted advertising</h3>
    <p> We do not process your personal data for targeted advertising. If we decide to do so, we will inform you beforehand and will grant your right to opt out of the processing of your personal data for targeted advertising.</p>
    <h3>Your privacy rights under the Virginia Consumer data Protection Act and how to exercise them</h3>
    <p> You may exercise certain rights regarding your data processed by us. You have the right to do the following:</p>
    <ul>
        <li><strong>access personal data: the right to know.</strong> You have the right to request that we confirm whether we are processing your personal data. You also have the right to access such personal data.</li>
        <li><strong>correct inaccurate personal data.</strong> You have the right to request that we correct any inaccurate personal data we maintain about you, considering the nature of the personal data and the purposes of the processing of the personal data.</li>
        <li><strong>request the deletion of your personal data.</strong> You have the right to request that we delete any of your personal data.</li>
        <li><strong>obtain a copy of your personal data.</strong> We will provide your personal data in a portable and usable format that allows you to transfer data easily to another entity — if this is technically feasible.</li>
        <li><strong>opt out of the processing of your personal data for the purposes of targeted advertising</strong>, the <strong>sale of personal data</strong>, or <strong>profiling</strong> in furtherance of decisions that produce legal or similarly significant effects concerning you.</li>
        <li><strong>non-discrimination.</strong> We will not discriminate against you for exercising your rights under the VCDPA. This means that we will not, among other things, deny goods or services, charge you a different price, or provide a different level or quality of goods or services just because you exercised your consumer privacy rights. However, if you refuse to provide your personal data to us or ask us to delete or stop selling your personal data, and that personal data or sale is necessary for us to provide you with goods or services, we may not be able to complete that transaction. To the extent permitted by the law, we may offer a different price, rate, level, quality, or selection of goods or services to you, including offering goods or services for no fee, if you have exercised your right to opt out, or our offer is related to your voluntary participation in a bona fide loyalty, rewards, premium features, discounts, or club card program. </li>
    </ul>
    <h3>How to exercise your rights</h3>
    <ul>
        <li>To exercise the rights described above, you need to submit your request to us by contacting us via the contact details provided at the start of this document.</li>
        <li>For us to respond to your request, we need to know who you are.</li>
        <li>We will not respond to any request if we are unable to verify your identity using commercially reasonable efforts and therefore confirm that the personal data in our possession relates to you. In such cases, we may request that you provide additional information which is reasonably necessary to authenticate you and your request.</li>
        <li>Making a consumer request does not require you to create an account with us. However, we may require you to use your existing account. We will use any personal data collected from you in connection with your request solely for the purposes of authentication, without further disclosing the personal data, retaining it longer than necessary for purposes of authentication, or using it for unrelated purposes.</li>
        <li>If you are an adult, you can make a request on behalf of a child under your parental authority. </li>
    </ul>
    <h3>How and when we are expected to handle your request</h3>
    <ul>
        <li>We will respond to your request without undue delay, but in all cases and at the latest within 45 days of its receipt. Should we need more time, we will explain to you the reasons why, and how much more time we need. In this regard, please note that we may take up to 90 days to fulfill your request.</li>
        <li>Should we deny your request, we will explain to you the reasons behind our denial without undue delay, but in all cases and at the latest within 45 days of receipt of the request. It is your right to appeal such decision by submitting a request to us via the details provided in this document. Within 60 days of receipt of the appeal, we will inform you in writing of any action taken or not taken in response to the appeal, including a written explanation of the reasons for the decisions. If the appeal is denied you may contact the Attorney General to submit a complaint.</li>
        <li>We do not charge a fee to respond to your request, for up to two requests per year. If your request is manifestly unfounded, excessive or repetitive, we may charge a reasonable fee or refuse to act on the request. In either case, we will communicate our choices and explain the reasons behind them.</li>
    </ul>
    <h2>Further information if you reside in Colorado</h2>
    <p> This section of the document integrates with and supplements the information contained in the rest of the privacy policy and is provided by the controller running this website and, if the case may be, its parent, subsidiaries and affiliates (for the purposes of this section referred to collectively as “we”, “us”, “our”).</p>
    <p>
        This section applies to you if you reside in the State of Colorado, according to the “Colorado Privacy Act&quot; (the &quot;CPA&quot;), and, supersedes any other possibly divergent or conflicting information contained in the privacy policy.
        This part of the document uses the term “personal data” as defined in the CPA.
    </p>
    <h3>Categories of personal data processed</h3>
    <p> In this section, we summarize the categories of personal data that we&#39;ve processed and the purposes thereof. You can read about these activities in detail in the section titled “Detailed information on the processing of personal data” within this document.</p>
    <h3>Categories of personal data we collect</h3>
    <ul>
        <li>We have collected the following categories of personal data: identifiers and internet information</li>
        <li>We do not collect sensitive data.</li>
        <li>We will not collect additional categories of personal data without notifying you.</li>
    </ul>
    <h3>Why we process your personal data</h3>
    <p>
        To find out why we process your personal data, you can read the sections titled “Detailed information on the processing of personal data” and “The purposes of processing” within this document.
        We won’t process your information for unexpected purposes, or for purposes incompatible with the purposes originally disclosed, without your consent. You can freely give, deny, or withdraw such consent at any time using the contact details provided at the start of this document.
    </p>
    <h3>How we use the data we collect: sharing of your personal data with third parties</h3>
    <p>
        We share your personal data with the third parties listed in detail in the section titled “Detailed information on the processing of personal data” within this document. These third parties are grouped and categorized in accordance with the different purposes of processing.
        For our purposes, the word &quot;third party&quot; means &quot;a person, public authority, agency, or body other than a consumer, controller, processor, or affiliate of the processor or the controller.&quot; as defined by the CPA.
    </p>
    <h3>Sale of your personal data</h3>
    <p>
        As specified in the “Detailed information on the processing of personal data” section of this document, our use of your personal data may be considered a sale under the CPA.
        For our purposes, the word &quot;sale&quot;, &quot;sell&quot;, or &quot;sold&quot; means &quot;the exchange of personal data for monetary or other valuable consideration by a controller to a third party&quot; as defined by the CPA.
        Please note that according to the CPA, the disclosure of personal data to a processor that processes personal data on behalf of a controller does not constitute a sale. In addition, other specific exceptions set forth in the CPA may apply, such as, but not limited to, the disclosure of personal data to a third party for the provision of a product or service requested by you.
    </p>
    <h3>Your right to opt out of the sale of your personal data and how you can exercise it</h3>
    <p>
        You have the right to opt out of the sale of your personal data. This means that whenever you request us to stop selling your data, we will abide by your request.
        To fully exercise your right to opt out you can contact us at any time, using the contact details provided at the start of this document.
        For a simplified opt-out method you can also use the privacy choices link provided on this website.
        We use any personal data collected from you in connection with the submission of your opt-out request solely for the purpose of complying with the request.
    </p>
    <h3>Processing of your personal data for targeted advertising</h3>
    <p>
        We do not process your personal data for targeted advertising. If we decide to do so, we will inform you beforehand and will grant your right to opt out of the processing of your personal data for targeted advertising.
        For our purposes, the word &quot;targeted advertising&quot; means &quot;displaying to a consumer an advertisement that is selected based on personal data obtained or inferred over time from the consumer&#39;s activities across non-affiliated websites, applications, or online services to predict consumer preferences or interests&quot; as defined by CPA. Please note that according to the CPA, targeted advertising does not include: “advertisements directed to a consumer in response to the consumer&#39;s request for information or feedback; advertisements based on activities within a controller&#39;s own websites or online applications or any affiliated website or online application; advertisements based on the context of a consumer&#39;s current search query, visit to an internet web site or online application; or processing personal data solely to measure or report advertising frequency, performance or reach”.
    </p>
    <h3>Universal opt-out mechanism: Global privacy control</h3>
    <p> If you want to submit requests to opt-out of the targeted advertising via a user-enabled global privacy control, like the Global Privacy Control (“GPC”), you are free to do so and we will abide by such request. The GPC consists of a setting or extension in the browser or mobile device and acts as a mechanism that websites can use to indicate they support the GPC signal. If you want to use GPC, you can download and enable it via a participating browser or browser extension. More information about downloading GPC is available here.</p>
    <h3>Your privacy rights under the Colorado Privacy Act and how to exercise them</h3>
    <p> You may exercise certain rights regarding your data processed by us. In particular, you have the right to do the following:</p>
    <ul>
        <li>opt out of the processing of your personal data for the purposes of targeted advertising, the sale of personal data, or profiling in furtherance of decisions that produce legal or similarly significant effects concerning you.</li>
        <li>access personal data. You have the right to request that we confirm whether or not we are processing your personal data. You also have the right to access such personal data.</li>
        <li>correct inaccurate personal data. You have the right to request that we correct any inaccurate personal data we maintain about you, taking into account the nature of the personal data and the purposes of the processing of the personal data.</li>
        <li>request the deletion of your personal data. You have the right to request that we delete any of your personal data.</li>
        <li>obtain a copy of your personal data. We will provide your personal data in a portable and usable format that allows you to transfer data easily to another entity – provided that this is technically feasible.</li>
    </ul>
    <p>In any case, we will not increase the cost of, or decrease the availability of, a product or service, based solely on the exercise of any of your rights and unrelated to the feasibility or the value of a service. However, to the extent permitted by the law, we may offer a different price, rate, level, quality, or selection of goods or services to you, including offering goods or services for no fee, if our offer is related to your voluntary participation in a bona fide loyalty, rewards, premium features, discounts, or club card program.</p>
    <h3>How to exercise your rights</h3>
    <ul>
        <li>To exercise the rights described above, you need to submit your request to us by contacting us via the contact details provided at the start of this document.</li>
        <li>For us to respond to your request, we need to know who you are and which right you wish to exercise.</li>
        <li>We will not respond to any request if we are unable to verify your identity using commercially reasonable efforts and therefore confirm that the personal data in our possession relates to you. In such cases, we may request that you provide additional information which is reasonably necessary to authenticate you and your request.</li>
        <li>Making a consumer request does not require you to create an account with us. However, we may require you to use your existing account. We will use any personal data collected from you in connection with your request solely for the purposes of authentication, without further disclosing the personal data, retaining it longer than necessary for purposes of authentication, or using it for unrelated purposes.</li>
        <li>If you are an adult, you can make a request on behalf of a child under your parental authority. </li>
    </ul>
    <h3>How and when we are expected to handle your request</h3>
    <ul>
        <li>We will respond to your request without undue delay, but in all cases and at the latest within 45 days of its receipt. Should we need more time, we will explain to you the reasons why, and how much more time we need. In this regard, please note that we may take up to 90 days to fulfill your request.</li>
        <li>Should we deny your request, we will explain to you the reasons behind our denial without undue delay, but in all cases and at the latest within 45 days of receipt of the request. It is your right to appeal such decision by submitting a request to us via the details provided in this document. Within 45 days of receipt of the appeal, we will inform you in writing of any action taken or not taken in response to the appeal, including a written explanation of the reasons for the decisions. If the appeal is denied you may contact the Attorney General to submit a complaint.</li>
        <li>We do not charge a fee to respond to your request, for up to two requests per year.</li>
    </ul>
    <h2>Further information if you reside in Connecticut</h2>
    <p> This section of the document integrates with and supplements the information contained in the rest of the privacy policy and is provided by the controller running this website and, if the case may be, its parent, subsidiaries and affiliates (for the purposes of this section referred to collectively as “we”, “us”, “our”).</p>
    <p>
        This section applies to you if you reside in the State of Connecticut, according to “An Act Concerning personal data Privacy and Online Monitoring &quot; (also known as &quot;The Connecticut data Privacy Act&quot; or the “CTDPA&quot;), and, for such consumers, it supersedes any other possibly divergent or conflicting information contained in the privacy policy.
        This part of the document uses the term “personal data” as defined in the CTDPA.
    </p>
    <h3>Categories of personal data processed</h3>
    <p> You can read about these activities in detail in the section titled “Detailed information on the processing of personal data” within this document.</p>
    <h3>Categories of personal data we collect</h3>
    <ul>
        <li>We have collected the following categories of personal data: identifiers and internet information</li>
        <li>We do not collect sensitive data.</li>
        <li>We will not collect additional categories of personal data without notifying you.</li>
    </ul>
    <h3>Why we process your personal data</h3>
    <p>
        To find out why we process your personal data, you can read the sections titled “Detailed information on the processing of personal data” and “The purposes of processing” within this document.
        We won’t process your information for unexpected purposes, or for purposes incompatible with the purposes originally disclosed, without your consent. You can freely give, deny, or withdraw such consent at any time using the contact details provided at the start of this document.
    </p>
    <h3>How we use the data we collect: sharing of your personal data with third parties</h3>
    <p>
        We share your personal data with the third parties listed in detail in the section titled “Detailed information on the processing of personal data” within this document. These third parties are grouped and categorized in accordance with the different purposes of processing.
        For our purposes, the word &quot;third party&quot; means &quot;a person, public authority, agency, or body other than a consumer, controller, processor, or affiliate of the processor or the controller.&quot; as defined by the CTDPA.
    </p>
    <h3>Sale of your personal data</h3>
    <p>
        As specified in the “Detailed information on the processing of personal data” section of this document, our use of your personal data may be considered a sale under the CTDPA.
        For our purposes, the word &quot;sale&quot;, &quot;sell&quot;, or &quot;sold&quot; means &quot;the exchange of personal data for monetary or other valuable consideration by a controller to a third party&quot; as defined by the CTDPA.
        Please note that according to the CTDPA, the disclosure of personal data to a processor that processes personal data on behalf of a controller does not constitute a sale. In addition, other specific exceptions set forth in the CTDPA may apply, such as, but not limited to, the disclosure of personal data to a third party for the provision of a product or service requested by you.
    </p>
    <h3>Your right to opt out of the sale of your personal data and how you can exercise it</h3>
    <p>
        You have the right to opt out of the sale of your personal data. This means that whenever you request us to stop selling your data, we will abide by your request.
        To fully exercise your right to opt out you can contact us at any time, using the contact details provided at the start of this document.
        For a simplified opt-out method you can also use the privacy choices link provided on this website.
        We use any personal data collected from you in connection with the submission of your opt-out request solely for the purpose of complying with the request.
    </p>
    <h3>Processing of your personal data for targeted advertising</h3>
    <p>
        We do not process your personal data for targeted advertising. If we decide to do so, we will inform you beforehand and will grant your right to opt out of the processing of your personal data for targeted advertising.
        For our purposes, the word &quot;targeted advertising&quot; means &quot;displaying to a consumer an advertisement that is selected based on personal data obtained or inferred over time from the consumer&#39;s activities across non-affiliated websites, applications, or online services to predict consumer preferences or interests&quot; as defined by CTDPA. Please note that according to the CTDPA, targeted advertising does not include: “advertisements based on activities within a controller’s own web sites or online applications; advertisements based on the context of a consumer&#39;s current search query, visit to an internet web site or online application; advertisements directed to a consumer in response to the consumer&#39;s request for information or feedback; or processing personal data solely to measure or report advertising frequency, performance or reach”.
    </p>
    <h3>Universal opt-out mechanism: Global Privacy Control</h3>
    <p> If you want to submit requests to opt-out of the targeted advertising via a user-enabled global privacy control, like the Global Privacy Control (“GPC”), you are free to do so and we will abide by such request. The GPC consists of a setting or extension in the browser or mobile device and acts as a mechanism that websites can use to indicate they support the GPC signal. If you want to use GPC, you can download and enable it via a participating browser or browser extension. More information about downloading GPC is available here.</p>
    <h3>Your privacy rights under the Connecticut Data Privacy Act and how to exercise them</h3>
    <p>
        You may exercise certain rights regarding your data processed by us. In particular, you have the right to do the following:
        access personal data. You have the right to request that we confirm whether we are processing your personal data. You also have the right to access such personal data.
        correct inaccurate personal data. You have the right to request that we correct any inaccurate personal data we maintain about you, considering the nature of the personal data and the purposes of the processing of the personal data.
        request the deletion of your personal data. You have the right to request that we delete any of your personal data.
        obtain a copy of your personal data. We will provide your personal data in a portable and usable format that allows you to transfer data easily to another entity – if this is technically feasible.
        opt out of the processing of your personal data for the purposes of targeted advertising, the sale of personal data, or profiling in furtherance of decisions that produce legal or similarly significant effects concerning you.
    </p>
    <p>In any case, we will not increase the cost of, or decrease the availability of, a product or service, based solely on the exercise of any of your rights and unrelated to the feasibility or the value of a service. However, to the extent permitted by the law, we may offer a different price, rate, level, quality, or selection of goods or services to you, including offering goods or services for no fee, if our offer is related to your voluntary participation in a bona fide loyalty, rewards, premium features, discounts, or club card program.</p>
    <h3>How to exercise your rights</h3>
    <ul>
        <li>To exercise the rights described above, you need to submit your request to us by contacting us via the contact details provided at the start of this document.</li>
        <li>For us to respond to your request, we need to know who you are and which right you wish to exercise.</li>
        <li>We will not respond to any request if we are unable to verify your identity using commercially reasonable efforts and therefore confirm that the personal data in our possession actually relate to you. In such cases, we may request that you provide additional information which is reasonably necessary to authenticate you and your request.</li>
        <li>Making a consumer request does not require you to create an account with us. However, we may require you to use your existing account. We will use any personal data collected from you in connection with your request solely for the purposes of authentication, without further disclosing the personal data, retaining it longer than necessary for purposes of authentication, or using it for unrelated purposes.</li>
        <li>If you are an adult, you can make a request on behalf of a child under your parental authority.</li>
    </ul>
    <h3>How and when we are expected to handle your request</h3>
    <ul>
        <li>We will respond to your request without undue delay, but in all cases and at the latest within 45 days of its receipt. Should we need more time, we will explain to you the reasons why, and how much more time we need. In this regard, please note that we may take up to 90 days to fulfill your request.</li>
        <li>Should we deny your request, we will explain to you the reasons behind our denial without undue delay, but in all cases and at the latest within 45 days of receipt of the request. It is your right to appeal such decision by submitting a request to us via the details provided in this document. Within 45 days of receipt of the appeal, we will inform you in writing of any action taken or not taken in response to the appeal, including a written explanation of the reasons for the decisions. If the appeal is denied, you may contact the Attorney General to submit a complaint.</li>
        <li>We do not charge a fee to respond to your request, for up to one request per year.</li>
    </ul>
    <h2>Further information for Utah consumers</h2>
    <p>
        This section of the document integrates with and supplements the information contained in the rest of the privacy policy and is provided by the controller running this website and, if the case may be, its parent, subsidiaries and affiliates (for the purposes of this section referred to collectively as “we”, “us”, “our”).
        This section applies to you if you reside in the State of Utah, according to the “Consumer Privacy Act&quot; (the “UCPA&quot;), and, it supersedes any other possibly divergent or conflicting information contained in the privacy policy.
        This part of the document uses the term “personal data” as defined in the UCPA.
    </p>
    <h3>Categories of personal data processed</h3>
    <p> You can read about these activities in detail in the section titled “Detailed information on the processing of personal data” within this document.</p>
    <h3>Categories of personal data we collect</h3>
    <ul>
        <li>We have collected the following categories of personal data: identifiers and internet information</li>
        <li>We do not collect sensitive data.</li>
        <li>We will not collect additional categories of personal data without notifying you.</li>
    </ul>
    <h3>Why we process your personal data</h3>
    <p> To find out why we process your personal data, you can read the sections titled “Detailed information on the processing of personal data” and “The purposes of processing” within this document.</p>
    <h3>How we use the data we collect: sharing of your personal data with third parties</h3>
    <p> We share your personal data with the third parties listed in detail in the section titled “Detailed information on the processing of personal data” within this document. These third parties are grouped and categorized in accordance with the different purposes of processing.</p>
    <p>For our purposes, the word &quot;third party&quot; means &quot;a person other than: the consumer, controller, or processor; or an affiliate or contractor of the controller or the processor&quot; as defined by the UCPA.</p>
    <h3>Sale of your personal data</h3>
    <p>
        As specified in the “Detailed information on the processing of personal data” section of this document, our use of your personal data may be considered a sale under the UCPA.
        For our purposes, the word &quot;sale&quot;, &quot;sell&quot;, or &quot;sold&quot; means &quot;the exchange of personal data for monetary or other valuable consideration by a controller to a third party&quot; as defined by the UCPA.
        Please note that according to the UCPA, the disclosure of personal data to a processor that processes personal data on behalf of a controller does not constitute a sale. In addition, other specific exceptions set forth in the UCPA may apply, such as, but not limited to, the disclosure of personal data to a third party for the provision of a product or service requested by you.
    </p>
    <h3>Your right to opt out of the sale of your personal data and how you can exercise it</h3>
    <p>
        You have the right to opt out of the sale of your personal data. This means that whenever you request us to stop selling your data, we will abide by your request.
        To fully exercise your right to opt out you can contact us at any time, using the contact details provided at the start of this document.
        For a simplified opt-out method you can also use the privacy choices link provided on this website.
        We use any personal data collected from you in connection with the submission of your opt-out request solely for the purpose of complying with the request.
    </p>
    <h3>Processing of your personal data for targeted advertising</h3>
    <p>
        We do not process your personal data for targeted advertising. If we decide to do so, we will inform you beforehand and will grant your right to opt out of the processing of your personal data for targeted advertising.
        For our purposes, the word &quot;targeted advertising&quot; means &quot;displaying to a consumer an advertisement that is selected based on personal data obtained or inferred over time from the consumer&#39;s activities across non-affiliated websites, applications, or online services to predict consumer preferences or interests&quot; as defined by UCPA. Please note that according to the UCPA, targeted advertising does not include: “advertisements based on activities within a controller’s own websites or online applications or any affiliated website or online application; advertisements based on the context of a consumer&#39;s current search query, visit to a web site or online application; advertisements directed to a consumer in
        response to the consumer&#39;s request for information, product, a service or feedback; or processing personal data solely to measure or report advertising performance, reach or frequency.”
    </p>
    <h3>Your privacy rights under the Utah Consumer Privacy Act and how to exercise them</h3>
    <p>
        You may exercise certain rights regarding your data processed by us. You have the right to do the following:
        access personal data. You have the right to request that we confirm whether we are processing your personal data. You also have the right to access such personal data.
        request the deletion of your personal data. You have the right to request that we delete any of your personal data.
        obtain a copy of your personal data. We will provide your personal data in a portable and usable format that allows you to transfer data easily to another entity – provided that this is technically feasible.
        opt out of the processing of your personal data for the purposes of targeted advertising or the sale of personal data.
    </p>
    <p>In any case, we will not increase the cost of, or decrease the availability of, a product or service, based solely on the exercise of any of your rights and unrelated to the feasibility or the value of a service. However, to the extent permitted by the law, we may offer a different price, rate, level, quality, or selection of goods or services to you, including offering goods or services for no fee, if our offer is related to your voluntary participation in a bona fide loyalty, rewards, premium features, discounts, or club card program.</p>
    <h3>How to exercise your rights</h3>
    <ul>
        <li>To exercise the rights described above, you need to submit your request to us by contacting us via the contact details provided at the start of this document.</li>
        <li>For us to respond to your request, we need to know who you are and which right you wish to exercise.</li>
        <li>We will not respond to any request if we are unable to verify your identity using commercially reasonable efforts and therefore confirm that the personal data in our possession actually relate to you. In such cases, we may request that you provide additional information which is reasonably necessary to authenticate you and your request. We may retain your email address to respond to your request.</li>
        <li>If you are an adult, you can make a request on behalf of a child under your parental authority.</li>
    </ul>
    <h3>How and when we are expected to handle your request</h3>
    <ul>
        <li>We will respond to your request without undue delay, but in all cases and at the latest within 45 days of its receipt. Should we need more time, we will explain to you the reasons why, and how much more time we need. In this regard, please note that we may take up to 90 days to fulfill your request.</li>
        <li>Should we deny your request, we will explain to you the reasons behind our denial without undue delay, but in all cases and at the latest within 45 days of receipt of the request.</li>
        <li>We do not charge a fee to respond to your request, for up to one request per year.</li>
    </ul>
    <h2>Additional information about data collection and processing</h2>
    <p>
        <strong>Legal action</strong>
        Your personal data may be used for legal purposes by us in Court or in the stages leading to possible legal action arising from improper use of this website or the related services. You declare to be aware that we may be required to reveal personal data upon request of public authorities.
    </p>
    <p>
        <strong>Additional information about your personal data</strong>
        In addition to the information contained in this privacy policy, this website may provide you with additional and contextual information concerning particular services or the collection and processing of personal data upon request.
    </p>
    <p>
        <strong>System logs and maintenance</strong>
        For operation and maintenance purposes, this website and any third-party services may collect files that record interaction with this website (System logs) or use other personal data (such as the IP Address) for this purpose.
    </p>
    <p>
        <strong>Information not contained in this policy</strong>
        More details concerning the collection or processing of personal data may be requested from us at any time. Please see the contact information at the start of this document.
    </p>
    <p>
        <strong>Changes to this privacy policy</strong>
        We reserve the right to make changes to this privacy policy at any time by notifying you on this page and possibly within this website and/or - as far as technically and legally feasible - sending a notice to you via any contact information available to us. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. Should the changes affect processing activities performed based on your consent, we shall collect new consent from you, where required.
    </p>
    <h2>Definitions and legal references</h2>
    <p>
        <strong>Personal data (or data)</strong>
        Any information that directly, indirectly, or in connection with other information — including a personal identification number— allows for the identification or identifiability of a natural person (in other words, you).
    </p>
    <p>
        <strong>Usage data</strong>
        Usage data is information automatically collected through this website or third-party services, including your IP address, browser type, operating system, time and method of requests, response status, visit duration, page sequence, and device-specific details.
    </p>
    <p>
        <strong>This website</strong>
        The means by which your personal data is collected and processed.
    </p>
    <p>
        <strong>Service</strong>
        The service provided by this website as described in the Terms of Service and on this site.
    </p>
    <p>
        <strong>European Union (or EU)</strong>
        Unless otherwise specified, all references made within this document to the European Union include all current member states to the European Union and the European Economic Area.
    </p>
    <p>
        <strong>Cookie</strong>
        Cookies are trackers consisting of small sets of data stored in your browser.
    </p>
    <p>
        <strong>Tracker</strong>
        Tracker indicates any technology - e.g. cookies, unique identifiers, web beacons, embedded scripts, e-tags and fingerprinting - that enables the tracking of you, for example by accessing or storing information on your device.
    </p>
    <p>
        <strong>Legal information</strong>
        This privacy statement has been prepared based on provisions of multiple legislations. This privacy policy relates solely to this website, if not stated otherwise within this document.
    </p>

</div>