@page
@model CornDome.Pages.ReportBugSuccessModel
@{
    ViewData["Title"] = "Bug Report Success";
}


<div class="d-flex mb-4">
    <div class="w-30">
        <img class="w-100" src="~/img/jakeshake.gif" />
    </div>
    <div class="w-70 p-3">
        <h1>
            Thanks! Your bug report has been submitted.
        </h1>
    </div>
</div>

<h4><a href="/">Back to homepage</a></h4>
