@page
@model CornDome.Pages.TournamentResultsModel
<div class="accordion" id="tournamentAccordian">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                January 7th, 2024
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#tournamentAccordian">
            <div class="accordion-body">
                We're still collecting tournament results . . .
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/tournament-results.css" />
}