@page
@model Error500Model
@{
    ViewData["Title"] = "500";
}

<div class="d-flex">
    <div class="w-30">
        <img class="w-100" src="~/img/error/404.gif" />
    </div>
    <div class="w-70 p-3">
        <h1>
            Something went wrong (don't panic the site owner will investigate this)
        </h1>
    </div>
</div>
