@page
@model CornDome.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Title;
}

<div style="padding: 20px 30px;">
    @Html.Raw(Model.MarkdownContent)
</div>
<div style="display: flex; justify-content: space-between;">
    <div>Created: @Model.Created</div>
    <div>Modified: @Model.Modified</div>
</div>